torch==2.0.1
torchvision==0.15.2
numpy
tqdm
tensorboard
matplotlib
pandas
audiomentations==0.33.0
editdistance
speechbrain~=0.5.12
datasets
torch_audiomentations
editdistance
wandb
pyctcdecode
torchaudio==2.0.2
pillow
librosa==0.10.1
https://github.com/kpu/kenlm/archive/master.zip