torch==2.0.1
torchvision==0.15.2
numpy==1.25.2
tqdm==4.66.1
tensorboard==2.14.1
matplotlib==3.8.0
pandas==2.1.1
audiomentations==0.33.0
editdistance
speechbrain~=0.5.12
datasets==2.14.5
torch_audiomentations==0.11.0
wandb==0.15.12
pyctcdecode
torchaudio==2.0.2
pillow
librosa==0.10.1
transformers==4.29.1
tokenizers==0.14.1 # 0.13.3
https://github.com/kpu/kenlm/archive/master.zip